//- layout.jade is automatically prepended here by the Express framework.

div#container.rounded-corner5
  div#container2
    div#member-panel
      div#logo
        // h1 나는 서울 시장이다!
        div#logo-img-wrapper
          img#logo-img(src='images/naseoul_logo.png')
        //
          div.twitter-feedback
            span 개선 사항 및 의견을 트위터로 바로 보내주세요!
            a.twitter-share-button(
              href='https://twitter.com/share',
              data-url='http://',
              data-text='@PopongC ',
              data-count='none',
              data-lang='ko'
              ) Tweet

      div.leftcolumn
        img.photo.small.rounded-corner5(src='images/_EB_82_98_EA_B2_BD_EC_9B_90.jpg')
        div.name 나경원
          a(href='http://www.naseoul.com/', target='_blank', title='공식사이트')
            img.icon(src='images/home-16x16.png')
          a(href='http://twitter.com/nakw', target='_blank', title='공식 트위터')
            img.icon(src='images/twitter-16x16.png')

      div.rightcolumn
        img.photo.small.rounded-corner5(src='images/_EB_B0_95_EC_9B_90_EC_88_9C.jpg')
        div.name 박원순
          a(href='http://wonsoon.com/', target='_blank', title='공식사이트')
            img.icon(src='images/home-16x16.png')
          a(href='http://twitter.com/wonsoonpark', target='_blank', title='공식 트위터')
            img.icon(src='images/twitter-16x16.png')
      div.clear

    div#spaceholder(style='height:112px') &nbsp;

    div#profile-panel
      div.leftcolumn
        div.caption 프로필
        div.event-container.profile
          div.event
            //- h2 나경원
            dl
              dt 출생
              dd 1963년 12월 6일 (서울특별시)
              dt 소속
              dd 한나라당 (최고위원), 한나라당 (공천개혁특별위원회 위원장), 한국장애인부모회후원회 (공동대표)
              dt 가족
              dd 배우자 김재호
              dt 학력
              dd 서울대학교 대학원 법학 석사
              dt 수상
              dd 2011년 아시아 소사이어티 코리아 여성 리더상
            span.notice ※ 프로필은 공개된 인물정보를 바탕으로 하였습니다.
            a.more(href='http://naseoul.com/board/na02.php', target='_blank') 더 자세히 보기

      div.rightcolumn
        div.caption 프로필
        div.event-container.profile
          div.event
            //- h2 박원순
            dl
              dt 출생
              dd 1956년 3월 26일 (경상남도 창녕)
              dt 학력
              dd 단국대학교 사학 학사
              dt 수상
              dd
                | 2009년 제15회 불교인권상
                br
                | 2006년 필리핀 막사이사이상 공공봉사부문
              dt 경력
              dd 희망제작소 상임이사 (2006년 3월 ~ 2011년 9월)
            span.notice ※ 프로필은 공개된 인물정보를 바탕으로 하였습니다.
            a.more(href='http://wonsoon.com/3335', target='_blank') 더 자세히 보기
      div.clear

    div#pledge-panel
      div.leftcolumn
        div.caption 공약
      div.rightcolumn
        div.caption 공약
      div.clear
      include pledges

    div#timeline-panel
      div.sort
        if sort_by == 'date'
          a.button(href='?sortby=like') Pong 순으로 정렬하기
        else
          a.button(href='?sortby=date') 날짜 순으로 정렬하기
      include timeline
      div.leftcolumn
        div.caption 타임라인
        div.timeline(topic='나경원')
          mixin timeline('left', '나경원', left_events)

      div.rightcolumn
        div.caption 타임라인
        div.timeline(topic='박원순')
          mixin timeline('right', '박원순', right_events)
      div.clear

div#params(style='display: none;')
  input(type='hidden', name='event_id', value=event_id)

div#floating
  div#tooltip-pong.rounded-corner5(style='display:none;')
    strong 관심
    &nbsp;가는 글이라면?
    strong PONG
    을 클릭해 SCORE를 올려 주세요!
  div#menu.rounded-corner5(style='display:none;')
    ul
      a(href='aboutus.html', target='_blank')
        li.rounded-corner5 About us
      a.button-promotion(href='promotion.html', target='_blank')
        li.button-bright.rounded-corner5 애정선거!
      div.separator
      a(href='#profile-panel')
        li.rounded-corner5 프로필
      a(href='#pledge-panel')
        li.rounded-corner5 공약
      a(href='#timeline-panel')
        li.rounded-corner5 타임라인

div#we-need-designer
  a#button-recruit(href='recruit.html') 함께 할 디자이너를 찾습니다

//- feedback widget
style(type='text/css')
  @import url('http://getbarometer.s3.amazonaws.com/assets/barometer/css/barometer.css');
script(type='text/javascript', src='http://getbarometer.s3.amazonaws.com/assets/barometer/javascripts/barometer.js')
script(type='text/javascript')
  BAROMETER.load('wcL6dMdEn5teaF8G2j7W3');

each jsfile in jsfiles
  script(type='text/javascript', src=jsfile)

//- vim: ts=8 sts=2 sw=2 expandtab
