extends timeline

block left-timeline
  each event in left_events
    div.event-container
      div.prong
        div.prong-dk
        div.prong-lt
      div.event
        div.content.left
          span.title= event.title
          br
          p.text= event.text
          div.link
            a(href=event.link, target='_blank')= event.link
        div.extra.right
          span.like= event.like
          div.button-pong.hidden(target_id=event.id)
            span PONG
          span.date= event.date
        div.clear

block right-timeline
  each event in right_events
    div.event-container
      div.prong
        div.prong-dk
        div.prong-lt
      div.event
        div.content.right
          span.title= event.title
          br
          p.text= event.text
          div.link
            a(href=event.link, target='_blank')= event.link
        div.extra.left
          span.like= event.like
          div.button-pong.hidden(target_id=event.id)
            span PONG
          span.date= event.date
        div.clear
