extends timeline

block left-timeline
  each event in left_events
    div.event
      div.content.left
        span.title= event.title
        br
        span.text= event.text
        br
        a.link(href=event.link, target='_blank') 링크
      div.extra.right
        span.like= event.like
        br
        span.date= event.date
      div.clear

block right-timeline
  each event in right_events
    div.event
      div.content.right
        span.title= event.title
        br
        span.text= event.text
        br
        a.link(href=event.link, target='_blank') 링크
      div.extra.left
        span.like= event.like
        br
        span.date= event.date
      div.clear
