extends timeline

block left-timeline
  //- event input box
  div.event-container.addevent(style='display: none;')
    div.prong
      div.prong-dk
      div.prong-lt
    div.event
      form
        input(type='hidden', name='topic')
        img.img-close(src="/images/x.png")
        input(type='text', name='year')
        년&nbsp;
        input(type='text', name='month')
        월&nbsp;
        input(type='text', name='day')
        일
        br
        제목&nbsp;
        input(type='text', name='title', maxlength='20')
        textarea(name='text', rows='3')
        div.charleft
        img.img-link(src='/images/link_chain.jpg')
        &nbsp;
        input(type='text', name='link', placeholder='출처(필수)')
        br
        input.submit(type='submit', value='등록')

  //- existing events
  each event in left_events
    div.event-container(event_id=event.id)
      div.prong
        div.prong-dk
        div.prong-lt
      div.event
        div.content.left
          span.title= event.title
          br
          p.text= event.text
          div.link
            a(href=event.link, target='_blank')= event.link
          div.share
            //- twitter button
            a.twitter-share-button(
              href='https://twitter.com/share',
              data-url='http://dev.popong.com/event/'+event.id,
              data-text='나는서울시장이다!::'+event.topic+', &quot;'+event.title+'&quot; #popong',
              data-count='none',
              data-via='popongc',
              data-lang='ko'
              ) Tweet
            &nbsp;
            //- facebook button
            iframe(
              src='http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fdev.popong.com:3000%2Fevent%2F'+event.id+'&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=recommend&amp;colorscheme=light&amp;font=tahoma&amp;height=21',
              scrolling='no',
              frameborder='0',
              style='border:none; overflow:hidden; width:50px; height:21px;',
              allowTransparency='true'
              )
        div.extra.right
          span.like= event.like
          div.button-pong.hidden(target_id=event.id)
            span PONG
          span.date= event.date
        div.clear

block right-timeline
  //- event input box
  div.event-container.addevent(style='display: none;')
    div.prong
      div.prong-dk
      div.prong-lt
    div.event
      form
        input(type='hidden', name='topic')
        img.img-close(src="/images/x.png")
        input(type='text', name='year')
        년&nbsp;
        input(type='text', name='month')
        월&nbsp;
        input(type='text', name='day')
        일
        br
        제목&nbsp;
        input(type='text', name='title', maxlength='20')
        textarea(name='text', rows='3')
        div.charleft
        img.img-link(src='/images/link_chain.jpg')
        &nbsp;
        input(type='text', name='link', placeholder='출처(필수)')
        br
        input.submit(type='submit', value='등록')

  //- existing events
  each event in right_events
    div.event-container(event_id=event.id)
      div.prong
        div.prong-dk
        div.prong-lt
      div.event
        div.content.right
          span.title= event.title
          br
          p.text= event.text
          div.link
            a(href=event.link, target='_blank')= event.link
          div.share
            //- twitter button
            a.twitter-share-button(
              href='https://twitter.com/share',
              data-url='http://dev.popong.com/event/'+event.id,
              data-text='나는서울시장이다!::'+event.topic+', &quot;'+event.title+'&quot; #popong',
              data-count='none',
              data-via='popongc',
              data-lang='ko'
              ) Tweet
            &nbsp;
            //- facebook button
            iframe(
              src='http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fdev.popong.com:3000%2Fevent%2F'+event.id+'&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=recommend&amp;colorscheme=light&amp;font=tahoma&amp;height=21',
              scrolling='no',
              frameborder='0',
              style='border:none; overflow:hidden; width:50px; height:21px;',
              allowTransparency='true'
              )
        div.extra.left
          span.like= event.like
          div.button-pong.hidden(target_id=event.id)
            span PONG
          span.date= event.date
        div.clear
