extends timeline

block left-timeline
  //- event input box
  div.event-container.addevent(style='display: none;')
    div.prong
      div.prong-dk
      div.prong-lt
    div.event
      form
        input(type='hidden', name='topic')
        img.img-close(src="/images/x.png")
        input(type='text', name='year')
        년&nbsp;
        input(type='text', name='month')
        월&nbsp;
        input(type='text', name='day')
        일
        br
        제목&nbsp;
        input(type='text', name='title', maxlength='20')
        textarea(name='text', rows='3')
        div.charleft
        img.img-link(src='/images/link_chain.jpg')
        &nbsp;
        input(type='text', name='link', placeholder='출처(필수)')
        br
        비밀번호&nbsp;
        input(type='password', name='passwd')
        br
        input.submit(type='submit', value='등록')

  //- profile
  div.event-container.profile(style='display: none;')
    div.prong
      div.prong-dk
      div.prong-lt
    div.event
      img.img-close(src="/images/x.png")
      a(href='/images/nakw.png', target='_blank')
        img.profile-content(src='/images/nakw.png')
      span.notice ※ 프로필은 선거캠프 공식 홈페이지에서 가져왔습니다.

  //- existing events
  each event in left_events
    div.event-container(event_id=event.id)
      div.prong
        div.prong-dk
        div.prong-lt
      div.event
        img.img-close(src="/images/x.png")
        div.content.left
          span.title= event.title
          br
          p.text= event.text
          div.link
            a(href=event.link, target='_blank')= event.link
          div.share
            //- twitter button
            a.button-twitter(href='#')
              img(src='/images/img_button_twitter.png')
            //- facebook button
            a.button-facebook(href='#')
              img(src='/images/img_button_facebook.gif')
        div.extra.right
          span.like= event.like
          div.button-pong-wrapper.rounded-corner5
            div.button-pong.rounded-corner5(target_id=event.id)
              span PONG
          span.date= event.date
        div.clear

block right-timeline
  //- event input box
  div.event-container.addevent(style='display: none;')
    div.prong
      div.prong-dk
      div.prong-lt
    div.event
      form
        input(type='hidden', name='topic')
        img.img-close(src="/images/x.png")
        input(type='text', name='year')
        년&nbsp;
        input(type='text', name='month')
        월&nbsp;
        input(type='text', name='day')
        일
        br
        제목&nbsp;
        input(type='text', name='title', maxlength='20')
        textarea(name='text', rows='3')
        div.charleft
        img.img-link(src='/images/link_chain.jpg')
        &nbsp;
        input(type='text', name='link', placeholder='출처(필수)')
        br
        비밀번호&nbsp;
        input(type='password', name='passwd')
        br
        input.submit(type='submit', value='등록')

  //- profile
  div.event-container.profile(style='display: none;')
    div.prong
      div.prong-dk
      div.prong-lt
    div.event
      img.img-close(src="/images/x.png")
      a(href='/images/wonsoonpark.jpg', target='_blank')
        img.profile-content(src='/images/wonsoonpark.jpg')
      span.notice ※ 프로필은 선거캠프 공식 홈페이지에서 가져왔습니다.

  //- existing events
  each event in right_events
    div.event-container(event_id=event.id)
      div.prong
        div.prong-dk
        div.prong-lt
      div.event
        img.img-close(src="/images/x.png")
        div.content.right
          span.title= event.title
          br
          p.text= event.text
          div.link
            a(href=event.link, target='_blank')= event.link
          div.share
            //- twitter button
            a.button-twitter(href='#')
              img(src='/images/img_button_twitter.png')
            //- facebook button
            a.button-facebook(href='#')
              img(src='/images/img_button_facebook.gif')
        div.extra.left
          span.like= event.like
          div.button-pong-wrapper.rounded-corner5
            div.button-pong.rounded-corner5(target_id=event.id)
              span PONG
          span.date= event.date
        div.clear
