table.rounded-corner5
  tr
    td.lefttd
      div.pledge
        div.content
          h2 공공기관이전부지, 유휴부지, 용산국제업무지구 등에 대한 좋은 투자로 좋은 일자리 만들기
          div.timespan 2014~2018년
          ul
            li 공공기관 이전부지와 30곳 유휴부지 개발 및 신규투자, 용산 국제업무지구의 단계적 추진
            li 공공기관 이전부지에 창조산업단지를 조성하고 우수 아이템을 보유한 20~30대 예비 창업자들에게 공간 지원, 일자리 창출과 한류를 뒷받침할 수 있는 복합 연구와 세계적 문화공간으로 만들어 시민편의 도모. 30곳의 유휴 부지는 공익성을 우선으로 투자를 유치해 지역주민의 복지타운을 건립하고 청년창업·벤처 기업 등을 위한 공간으로 활용해 일자리 창출에 기여. 용산 업무지구 개발에 민간자본을 유치해 경제발전 및 일자리 창출 기대
          div.box.rounded-corner3
            h3 이행방법
            div.bottom7 중앙정부-민자사업자-서울시와의 협력체제구축으로 벤처산업단지 조성 및 신규투자 추진, 용산 14만평 부지 개발에 대한 종합계획 수립 후 시행은 3~4개 구역으로 단계적 추진
            h3 재원조달방안
            ul
              li 시비 및 민자유치
              li 공공기관 이전부지를 창조산업 단지로 조성(시비 4000억원),
              li 30곳의 유휴부지에 신규투자 추진, 용산 국제업무지구의 단계적 추진(민자)
        div.extra
          span.like= pledges['나경원_일자리'].like
          div.button-pong-wrapper.rounded-corner5
            div.button-pong.rounded-corner5(target_id='나경원_일자리')
              span PONG
        div.clear
    th
      경제
    td.righttd
      div.pledge
        div.extra
          span.like= pledges['박원순_주택'].like
          div.button-pong-wrapper.rounded-corner5
            div.button-pong.rounded-corner5(target_id='박원순_주택')
              span PONG
        div.content
          h2 5대 창조경제거점 및 3대 아시아지식기반허브 구축
          div.timespan 2015~2018년
          ul
            li 5대 거점을 중심으로 거점별 ‘맞춤형 중장기 전략’ 추진
              ul
                li 가산·금천 G밸리, 상암 DMC, 동대문창조경제클러스터 육성, 신촌-홍대-합정(신·홍·합) 일대, 개포동 모바일 융합 클러스터 조성
                li  금천가산 「G밸리 飛上 프로젝트」 본격화
                li  상암DMC․수색 고도화를 향한 혁신사업 추진
                li  도심산업 동반성장을 위한 동대문창조경제클러스터 육성 
                li  신·홍·합 창조밸리 구축사업 추진
                li  개포 모바일 융합클러스터 조성 사업 추진
            li  마곡단지 2단계 전략 추진 및 동북권 일대(창동 상계·홍릉) “스마트시티”(SMART CITY) 전략 추진
              ul
                li  마곡단지 성장기반 강화를 위한 2대 전략 조속 추진
                li 마곡내 공공산업지원시설 구축, 산․학․연기반 “융합캠퍼스” 조성
                li  창동 상계 대규모 창업단지 조성으로 아시아 지식허브 육성
                li  홍릉일대 스마트에이징기술 기반 실버산업 클러스터 조성
          div.box.rounded-corner3
            h3 이행방법
            div.bottom7 중기지방재정계획
            h3 재원조달방안
            ul
              li 5대 거점별 ‘맞춤형 중장기 전략’
                ul
                  li 중기지방재정계획 내 활용
                  li 예산절감, 투자 우선순위 조정
                ul 마곡, 동북권 일대(창동-상계, 홍릉 등)
                  li 중기지방재정계획 내 활용
                  li 예산절감, 투자 우선순위 조정
        div.clear
  tr
    td.lefttd
      div.pledge
        div.content
          h2 안전하고 쾌적한 지하철 만들기
          div.timespan 2014~2015년
          ul
            li 노후 차량·시설 전면 교체 및 공기질 개선
            li 서울 지하철 1~4호선은 개통된 지 30년이 넘어 전체 전동차의 30%가 20년 이상 노후화된 상태임. 임기 중 1조원을 투입해 구식 ATS 차량을 전부 ATO 차량으로 교체하는 등 노후 차량과 각종 시설에 대한 전면적인 교체를 단행해 시민들에게 안전한 지하철 환경을 제공
          div.box.rounded-corner3.bottom30
            h3 이행방법
            div.bottom7 안전관련 예산 확보 및 안전기능 통합, 공기질 자동측정장치 설치 및 실시간 공개
            h3 재원조달방안
            div 시비 5000천억원
          h2 서울안전본부(안전기획관) 설치
          div.timespan 2014~2018년
          ul
            li 부서별 산재되어 있는 안전업무의 통합으로 지휘체계를 일원화하고 신속한 상황해결 도모
            li 재난안전, 생활안전, 먹거리 안전, 환경안전, 4대 분야에서 서울시민 안전 확보
          div.box.rounded-corner3
            h3 이행방법
            div.bottom7 서울특별시 재난 및 안전관리 기본조례 제정, 재난 재해 유관부서를 통합해 시장직속으로 설치
            h3 재원조달방안
            div 해당없음
        div.extra
          span.like= pledges['나경원_안전'].like
          div.button-pong-wrapper.rounded-corner5
            div.button-pong.rounded-corner5(target_id='나경원_주택')
              span PONG
        div.clear
    th
      안전
    td.righttd
      div.pledge
        div.extra
          span.like= pledges['박원순_안전'].like
          div.button-pong-wrapper.rounded-corner5
            div.button-pong.rounded-corner5(target_id='박원순_안전')
              span PONG
        div.content
          h2 도시안전예산 2조원 추가 확보 및 지하철 노후차량·노후시설 전면 교체
          div.timespan 2015~2018년
          ul
            li 4년간 도시안전 예산 2조원을 추가 확보 (매년 5천억원)
            li 시장 직속의 <재난컨트롤타워> 설치 및 ‘골든타임 목표제’ 실행
            li 34개 침수피해 위험지역을 2020년까지 완전 해소
            li 교통사망사고 50%감축 추진(‘12년 대비 ’20년 50% 감축)
            li 여성과 아이들의 안전한 귀갓길을 위한 안심귀가스카우트 2배 확충 • 장기사용 노후 전동차 호선별로 2022년까지 전면 교체
            li 호선별로 분리된 관제센터를 ‘SMART 통합관제’로 통합·운영
            li 사장 직속 안전 전담기구를 신설해 책임성을 강화
            li 지하철 내진성능 보강, 지하철 노후시설 재투자, 무임수송 보전 등 정부 건의
            li 이중·삼중의 안전관리 시스템 구축 및 외부 협력회사 지도·감독 강화
            li 투명한 합동점검 및 모니터링 상시화 및 전 직원 철도안전교육 강화
          div.box.rounded-corner3
            h3 이행방법
            div.bottom7 예산증액 및 전담조직(재난컨트롤타워) 구축
            h3 재원조달방안
            div 시비 증액 (예산절감, 투자 우선순위 조정)
        div.clear
  tr
    td.lefttd
      div.pledge
        div.content
          h2 재개발 재건축 규제 완화, 다가구 매입·재개발 재건축 활성화를 통해 임대주택 공급 10만호로 확대
          div.timespan 2014~2018년
          ul
            li 재개발 재건축 규제완화 및 활성화를 통한 임대주택 공급 10만호로 확대
            li 주택정책을 잘하면 서민을 중산층으로 끌어 올릴 수 있음. 재개발 재건축 규제 완화를 통해 민간 주택시장을 활성화 시키고 임대주택 공급을 늘려 서민들의 내집 마련의 기회 확대
          div.box.rounded-corner3
            h3 이행방법
            div.bottom7 주민요구 수렴 및 지역발전의 필요성이 큰 곳부터 규제완화 통해 우선적으로 단계별 추진, 중앙정부-서울시와의 협력체제 구축으로 창조적 주택정책 추진
            h3 재원조달방안
            div 민자유치
        div.extra
          span.like= pledges['나경원_주택'].like
          div.button-pong-wrapper.rounded-corner5
            div.button-pong.rounded-corner5(target_id='나경원_주택')
              span PONG
        div.clear
    th
      주택
    td.righttd
      div.pledge
        div.extra
          span.like= pledges['박원순_주택'].like
          div.button-pong-wrapper.rounded-corner5
            div.button-pong.rounded-corner5(target_id='박원순_주택')
              span PONG
        div.content
          h2 새로운 안심주택 8만호 공급 및 2~3인용 소형주택 20만호 공급지원
          div.timespan 2015~2018년 (임대주택 8만호), 2015~2020년 (소형주택 20만호)
          ul
            li 새로운 안심주택 8만호 공급(’2018)과 재고비율 10%(’2020) 추진
            li 20~30년간 매매대금 분할납부가 가능한 분납임대주택 도입
            li 관리형 주택협동조합 및 공공토지임대형 주택협동조합 육성
            li 민간임대주택 지원을 위한 국민주택기금 및 이자지원 확대
            li 전용면적 40~60㎡ 미만 소형주택 20만호 공급 지원(2020년)
            li 저렴 소형주택 집중 공급을 위한 주차장 등 도시계획 지원강화
          div.box.rounded-corner3
            h3 이행방법
            ul.bottom7
              li 임대주택 공급 중기재정계획
              li 소형주택 공급지원을 위한 조례 및 제도개선
            h3 재원조달방안
            ul
              li 임대주택 : 중기지방재정계획 내 활용 (예산절감, 투자 우선순위 조정)
              li 소형주택 : 비예산사업(조례, 제도개선 등 민간지원)
        div.clear
  tr.lasttr
    td.lefttd
      div.pledge
        div.content
          h2 노인요양시설 대폭 확충, 워킹맘을 위한 직장 어린이집 확대
          div.timespan 2014~2018년
          ul
            li 서울 노인요양시설 충족률 100% 수준확대, 워킹맘을 위한 직장 어린이집 100개 확대 
            li 서울 25개 각 구별 2개씩 50개소 노인요양시설 추가 확대로 부모님을 지방에 멀리 모시지 않아도 되도록 함, 근로자 10만명이 일하는 서울디지털산업단지에는 직장어린이집이 단 1곳 뿐이고, 7만명이 일하고 있는 창신동 봉제공장 주변은 직장어린이집이 단 한 곳도 없는 현실에서 중소기업 밀집지역에 직장 어린이집 100개를 개설해 일하는 엄마들의 사회활동 지원
          div.box.rounded-corner3
            h3 이행방법
            div.bottom7 다가구, 단독주택 등을 매입, 시설보완으로 주거근접지역에 소규모단위 노인 요양시설 대폭 확대하고, 기존 노인요양병원과 공공 노인복지시설의 복합화 를 추진해 각 구별 2개씩 50개소 추가 확대, 중소기업 밀집지역에 직장 어 린이집 100개 개설
            h3 재원조달방안
            div 시비 노인요양시설(1250억원), 직장어린이집(500억원)
        div.extra
          span.like= pledges['나경원_복지'].like
          div.button-pong-wrapper.rounded-corner5
            div.button-pong.rounded-corner5(target_id='나경원_복지')
              span PONG
        div.clear
    th
      복지
    td.righttd
      div.pledge
        div.extra
          span.like= pledges['박원순_복지'].like
          div.button-pong-wrapper.rounded-corner5
            div.button-pong.rounded-corner5(target_id='박원순_복지')
              span PONG
        div.content
          h2 찾아가는 복지플래너, 사회복지인력 2배 확충
          div.timespan 2015~2018년
          ul
            li 찾아가는 복지플래너(사회복지사+방문간호사)
            ul
              li 신생아 출생시, 어르신 70세 도달시 사회복지사 방문
            li 복지사각지대 해소를 위해 주민센터 사회복지인력 두배 확대
            ul
              li 사회복지인력 2,000명 → 4,000명(사회복지사 2,000명 신규증원)
              li 방문간호사 400명 → 800명으로 확대 (동당 2명)
            li 동주민센터를 복지+보건+마을(주민)자치 기능을 강화한 민·관 협력 복지허브기구로 재구조화
          div.box.rounded-corner3.bottom30
            h3 이행방법
            div.bottom7 중기지방재정계획
            h3 재원조달방안
            ul
              li 인건비 국비 보조사업
              li 중기지방재정계획 내 활용 
              ul
                li 예산절감, 투자 우선순위 조정
          h2 천개의 숲, 만개의 산책길
          div.timespan 2015~2018년
          ul
            li 서울시 내 초미세먼지 4년간 20% 이상 감축(25㎍/㎥→20㎍/㎥)
            ul
              li 저감장치 확대 등 경유차 저공해 사업 지속 추진
              li 그린카 추가 보급 및 충전인프라 구축 지속 확대
            li 동북아 대도시 대기환경협의체 구성 및 대기개선 노하우 공유
            ul
              li 북경, 도쿄, 상해 등 주요 대도시와의 공동협력을 통한 공동개선 방안 수립
            li 초미세먼지 노출 예방 시스템 구축
            ul
              li 초미세먼지 예보시스템 구축 및 취약계층 미세먼지(황사) 마스크 지원
            li 도로먼지 관리시스템 구축 및 ‘찾아가는 물청소’ 확대
            li 생활권 주변 10분거리 공원과 생애주기별 힐링공원 조성 • 서울둘레길 · 근교산 자락길 등 ‘걷고 싶은 서울길’ 완성
            li 학교 80개교와 사회복지시설에 ‘싱싱텃밭’ 조성
            li 생태 친화적 가로수길 ‘우리동네 산책길’ 조성
          div.box.rounded-corner3
            h3 이행방법
            div.bottom7 푸른도시선언 전략계획과 연계하여 추진
            h3 재원조달방안
            ul
              li 중기지방재정계획 내 활용
              ul
                li 사업 일부는 국비보조
                li 신생활권 공원 확충 예산 중 일부 활용
                li 예산절감, 투자 우선순위 조정
        div.clear
