table.rounded-corner5
  tr
    td.lefttd
      div.pledge
        div.content
          h2 창조지식/미래산업/청년취업
          ul
            li 창조지식산업의 인력양성 교육 확대
            li 금융,관광,디지털콘텐츠 분야 등 미래산업분야 인력 집중양성
            li 산업현장 재직자들을 위한 전환기 교육과정
            li 청년취업지원(대학과 직업훈련기관과 연계)
        div.extra
          span.like= pledges['나경원_일자리'].like
          div.button-pong-wrapper.rounded-corner5
            div.button-pong.rounded-corner5(target_id='나경원_일자리')
              span PONG
        div.clear
    th
      일자리

    td.righttd
      div.pledge
        div.extra
          span.like= pledges['박원순_일자리'].like
          div.button-pong-wrapper.rounded-corner5
            div.button-pong.rounded-corner5(target_id='박원순_일자리')
              span PONG
        div.content
          h2 벤처/사회투자기금/SSM규제
          ul
            li 창조적 청년벤처기업 10,000개 육성 / 사회적 창조기업 개발
            li 일자리 창출을 위한 &lt;사회투자기금&gt; 조성
            li 서울형 마을기업, 협동조합, 사회적 기업 육성
            li 대기업 SSM규제 강화
            li 요양, 간병, 보육 등 공립시설 확충 / 근로 개선
            li 서울시 산하기관 비정규직 정규직 전환
        div.clear

  tr
    td.lefttd
      div.pledge
        div.content
          h2 인프라/안심통학/방과후/원어민
          ul
            li 교육인프라 개선에 1조원 투자
            li 워킹스쿨버스(안심통학버스)로 안전한 등하교
            li 1인 2기, 체육과 음악동아리 활동 장려
            li 방과후 공부방 확대 (1교당 천만원 / 500개교)
            li 원어민 영어보조교사 배치지원(95개교 1명씩)
        div.extra
          span.like= pledges['나경원_교육'].like
          div.button-pong-wrapper.rounded-corner5
            div.button-pong.rounded-corner5(target_id='나경원_교육')
              span PONG
        div.clear

    th
      교육

    td.righttd
      div.pledge
        div.extra
          span.like= pledges['박원순_교육'].like
          div.button-pong-wrapper.rounded-corner5
            div.button-pong.rounded-corner5(target_id='박원순_교육')
              span PONG
        div.content
          h2 무상급식/등록금/혁신학교
          ul
            li 2014년까지 서울 95만 초,중등학생 무상급식
            li 등록금부담완화-서울시 학자금 이자지원조레 제정
            li 서울시립대 반값등록금 및 장학 수혜자 확대
            li 대학등록금마련을 위한 저축에 이자 지원
            li 공립형 혁신학교 확대 지원
        div.clear

  tr
    td.lefttd
      div.pledge
        div.content
          h2 알뜰예산/부채상환/투자기관조성
          ul
            li 예산배심원제도 및 알뜰예산기획단 구성
            li 서울시 사업구조조정 및 행사성 사업 축소
            li 종료된 사업 예산으로 부채 상환
            li 2013년부터 지방소비세율증가로 확보한 예산으로 부채 상환
            li 추진 중인 사업의 시기 조정으로 예산 확보
            li SH공사등 투자기관 경영 및 사업구조조정
        div.extra
          span.like= pledges['나경원_시정'].like
          div.button-pong-wrapper.rounded-corner5
            div.button-pong.rounded-corner5(target_id='나경원_시정')
              span PONG
        div.clear
    th
      시정

    td.righttd
      div.pledge
        div.extra
          span.like= pledges['박원순_시정'].like
          div.button-pong-wrapper.rounded-corner5
            div.button-pong.rounded-corner5(target_id='박원순_시정')
              span PONG
        div.content
          h2 부채감축/생활지원/한강회복
          ul
            li 재정부채 25.5조-&gt;18조원으로 7조원 감축
            li 서울공공투자관리센터 설립
            li 기존사업지출 감소 및 사업수입으로 재정보전
            li 생활지원 사람예산으로 중심 이동
            li SH 공사 - 도시재생 및 복지전담기구화
            li 한강르네상스사업 전면재검토&amp;자연성회복
            li 정책조정기구(시민위원회) 구성
            li 발전차액 지원제도(시민대체에너지사업 투자)
            li 건물에너지 효율화
        div.clear

  tr
    td.lefttd
      div.pledge
        div.content
          h2 햇빛센터/공공임대주택/대학생
          ul
            li 주택 밀집지역에 생활밀착형 서비스
            li 비강남권인프라 투자, 재건축 연한 완화 재검토
            li 맞춤형 전월세 종합대책 수립
            li 강남권 공공임대주택 확보
            li 소형주택/순환형임대주택/장기전세주택 확대
            li 주거자립을 위한 주춧돌 프로그램
            li 노후 공공임대 주택 개선 매년 250억원 지원 
            li 대학가 주변 저렴한 생활임대 주택 공급, 기숙사 건립 지원
        div.extra
          span.like= pledges['나경원_주택'].like
          div.button-pong-wrapper.rounded-corner5
            div.button-pong.rounded-corner5(target_id='나경원_주택')
              span PONG
        div.clear

    th
      주택

    td.righttd
      div.pledge
        div.extra
          span.like= pledges['박원순_주택'].like
          div.button-pong-wrapper.rounded-corner5
            div.button-pong.rounded-corner5(target_id='박원순_주택')
              span PONG
        div.content
          h2 주택공급/전세보증금/대학생
          ul
            li 장기전세주택, 임대주택 공급 확대
            li &lt;전세보증금센터&gt;설치, 운영
            li 1~2인가구 공공원룸텔 공급
            li 재개발, 재건축 과속개발방지
            li 시기조절 순환정비방식 도입
            li 다가구,다세대 매입주택 지원
            li 대학내 기숙사건립 인센티브제공
        div.clear

  tr
    td.lefttd
      div.pledge
        div.content
          h2 TECH/용산/마곡/상암/동북권
          ul
            li 서울 - 인천 20분 시대 구현
            li IT융합사업 지원 - 서울형 디지털 콘텐츠 육성
            li BT산업, U-health산업 육성
            li 한방특구 운영
            li 용산을 미래신도심으로 조성 - 국제 업무지구로 육성
            li 마곡을 첨단 R&amp;D메카로
            li 상암DMC를 디지털 헐리우드로 - e스포츠 전용경기장
            li 동북권 공항터미널 추진 및 업무상업복합개발(창동)
            li 국립보건원부지-서북권문화, 복지웰빙자족도시 육성
            li 주민이 참여하는 재개발 정책으로 전환
        div.extra
          span.like= pledges['나경원_경제'].like
          div.button-pong-wrapper.rounded-corner5
            div.button-pong.rounded-corner5(target_id='나경원_경제')
              span PONG
        div.clear

    th
      경제

    td.righttd
      div.pledge
        div.extra
          span.like= pledges['박원순_경제'].like
          div.button-pong-wrapper.rounded-corner5
            div.button-pong.rounded-corner5(target_id='박원순_경제')
              span PONG
        div.content
          h2 창조/한류/예술/상상력/문화뱅크
          ul
            li 창조형강소 서울경제 육성
            li 영등포, 구로, 중구, 성동등 서울형 창조산업화
            li 동대문디자인플라자 - 한류문화공간 프로그램 상설
            li 서울상상력발전소 - 콘텐츠개발&amp;창작공간 지원
            li 서울문화예술뱅크 - 시민 아이디어 문화산업화
            li 전통재래상권 쇼핑환경개선(동대문, 남대문)
            li 전통문화상권 관광환경 개선(삼청동, 가회동,대학로, 인사동, 청계천 등)
        div.clear

  tr
    td.lefttd
      div.pledge
        div.content
          h2 어린이집/육아품앗이/처우개선
          ul
            li 영아전용(0~2세) 국공립어린이집 확충
            li 육아 품앗이, 친인척 돌봄서비스 실시
            li 보육종사자 전문성 향상 및 처우 개선
            li 안심보육 및 안심급식 실시
        div.extra
          span.like= pledges['나경원_여성,보육'].like
          div.button-pong-wrapper.rounded-corner5
            div.button-pong.rounded-corner5(target_id='나경원_여성,보육')
              span PONG
        div.clear

    th
      span 여성
      br
      span 보육

    td.righttd
      div.pledge
        div.extra
          span.like= pledges['박원순_여성,보육'].like
          div.button-pong-wrapper.rounded-corner5
            div.button-pong.rounded-corner5(target_id='박원순_여성,보육')
              span PONG
        div.content
          h2 보육시설/직장맘지원/여성참여
          ul
            li 국공립보육시설 동별 2개이상
            li 초등 돌봄교실 591개 전체 초등학교로 확대
            li &lt;직장맘지원센터&gt;설치
            li 남성의 육아참여 확대&amp;보육관련 종합삼당서비스
            li 보육종사자 확대&amp;처우개선 (임금&amp;사회보험)
            li 자율방범단 네트워킹 - 여성폭력 ZERO마을
            li 여성암 조기검진, 갱년기 상담 등 여성건강 지원
            li 정책결정과정 여성참여
            li 서울시 고위직 여성비율 확대
        div.clear

  tr
    td.lefttd
      div.pledge
        div.content
          h2 장애인/체육/어르신
          ul
            li 장애인 3단계 자립프로그램 / 교통복지 향상
            li 장애인 자립센터 시설당 3천만원 운영비 지원
            li 장애인 가족지원센터 권역별 확대
            li 중대형 직업재활시설 설치 운영
            li 여성장애인 인력개발센터 설치
            li 1자치구 2체육센터 건립(39개소-&gt;53개소)
            li 체육정보 통합 웹사이트 구축
            li 전문체육지도자 배치사업 확대
            li 자치구 생활체육 지원 조례 제정 독려
            li 장애인 대상 찾아가는 생활체육 서비스&amp;생활체육 클럽 비용 지원
            li 재능기부 생활체육교실 활성화
            li 다문화가정을 위한 생활체육 기회제공
            li 노인복지센터 18개소, 어르신 행복타운 건립
            li 어르신에게 적합한 맞춤형 일자리 제공
            li 어르신 행복콘서트, 어르신 전용영화관 지원
            li 경로당 냉방비 지원
        div.extra
          span.like= pledges['나경원_복지'].like
          div.button-pong-wrapper.rounded-corner5
            div.button-pong.rounded-corner5(target_id='나경원_복지')
              span PONG
        div.clear

    th
      복지

    td.righttd
      div.pledge
        div.extra
          span.like= pledges['박원순_복지'].like
          div.button-pong-wrapper.rounded-corner5
            div.button-pong.rounded-corner5(target_id='박원순_복지')
              span PONG
        div.content
          h2 생활최전선기준/행복설계/장애인
          ul
            li 서울시민생활최전선 기준 확립
            li 재정취약 자취구에 서울시 지원 확대
            li 노인에게 일자리 제공 및 각종 인센티브 채용
            li 행복설계아카데미 설치
            li 장애인 독립 지원 - 정착금 확대, 특별주택, 전세주책 공급 
            li 장애인 이동권 보장 - 콜택시, 저상버스 확충
            li 소규모 밀착형 복지서비스 강화
            li 보건소 1구 1개소 야간/휴일클리닉
            li 24시간 의료상담전화 '응급콜' 신설
        div.clear

  tr
    td.lefttd
      div.pledge
        div.content
          h2 흡연금지/스쿨존/먹거리
          ul
            li 길거리 보행 중 흡연금지 및 조례제정
            li 쓰레기 집중수거, 생활 속 소음,악취 제거
            li 스쿨존 강력범죄 예방
            li CCTV, 비상호출시스템 확대
            li 스쿨존 금연지역 추진
            li 학교내외 먹거리 감시 강화
            li 음란유해 광고물 뿌리 뽑기
        div.extra
          span.like= pledges['나경원_안전'].like
          div.button-pong-wrapper.rounded-corner5
            div.button-pong.rounded-corner5(target_id='나경원_안전')
              span PONG
        div.clear

    th
      안전

    td.righttd
      div.pledge
        div.extra
          span.like= pledges['박원순_안전'].like
          div.button-pong-wrapper.rounded-corner5
            div.button-pong.rounded-corner5(target_id='박원순_안전')
              span PONG
        div.content
          h2 생활안전/아마존/재난재해대응
          ul
            li 서울시 생활안전 선언 - 안전, 악취, 소음 등 환경개선
            li 불량 유해식품/농수축산물 검역강화
            li 아마존(아이들이 맘껏 다닐 수 있는 공간)
            li 교통안전시설 설치, 어린이 안전관리사 배치
            li 분산식 빗물순환시스템
            li 산사태 예경보 시스템
            li 상습침수 재해지역 하수관거 처리능력 확대
            li 지역,장소 맞춤형 재난 재해 대응 안전시스템
            li 녹물 수도관 교체를 위한 지원폭 확대
        div.clear

  tr
    td.lefttd
      div.pledge
        div.content
          h2 전통시장/자영업자/수수료
          ul
            li 전통시장 불편해소 (편의시설 확충)
            li 전통시장 문화교실, 공동배송서비스 확충
            li 1대학 1시장, 1기업 1시장 후원
            li 볼거리, 즐길거리 확대
            li 자영업자 부활지원(300억원 지원)
            li 대박, 오뚝이 프로젝트(멘토, 컨설팅)
            li 카드 수수료 인하, 카드결제 단말기 무료 보급
            li 카드수수료 조정 신청제도 신설
            li 가맹본점 부당횡포 신문고 개설
        div.extra
          span.like= pledges['나경원_소상공인'].like
          div.button-pong-wrapper.rounded-corner5
            div.button-pong.rounded-corner5(target_id='나경원_소상공인')
              span PONG
        div.clear

    th
      span 소상
      br
      span 공인

    td.righttd

  tr
    td.lefttd

    th
      span 참여
      br
      span 소통

    td.righttd
      div.pledge
        div.extra
          span.like= pledges['박원순_참여,소통'].like
          div.button-pong-wrapper.rounded-corner5
            div.button-pong.rounded-corner5(target_id='박원순_참여,소통')
              span PONG
        div.content
          h2 시민보고서/정보소통/참여예산
          ul
            li 서울형 시정지표 개발 및 시민보고서 발간
            li 서울정보소통센터(시정정책과 정보 공개) 설치
            li 주민참여예산조례 제정과 주민참여 예산제도
            li 시민참여정책 발굴 및 민원청취 - 현장경청투어
            li 부정부패 척결 &lt;청렴계약제&gt; 내실화
            li &lt;시민옴부즈맨제도&gt; 독림성강화
            li 취약계층에 대한 '중장기인권증진계획' 수립
        div.clear
