div#logo
  h2 나는 서울 시장이다!
    span.super &nbsp;beta
  div.twitter-feedback
    span 개선 사항 및 의견을 트위터로 바로 보내주세요!
    a.twitter-share-button(
      href='https://twitter.com/share',
      data-url='http://',
      data-text='@PopongC ',
      data-count='none',
      data-lang='ko'
      ) Tweet

div#container
  div#container2
    span.notice ※ 후보 표시 순서는 가나다순입니다.
    br

    div.leftcolumn.member_panel
      img.photo(src='/images/_EB_82_98_EA_B2_BD_EC_9B_90.jpg')
      div.name 나경원
        a(href='http://www.naseoul.com/')
          img.icon(src='/images/icon_homepage.png')
        a(href='http://twitter.com/nakw')
          img.icon(src='/images/icon_twitter.png')
      div.button-addevent
        img(src='/images/button_plus.gif')
      div.timeline
        block left-timeline

    div.rightcolumn.member_panel
      img.photo(src='/images/_EB_B0_95_EC_9B_90_EC_88_9C.jpg')
      div.name 박원순
        a(href='http://wonsoon.com/')
          img.icon(src='/images/icon_homepage.png')
        a(href='http://twitter.com/wonsoonpark')
          img.icon(src='/images/icon_twitter.png')
      div.button-addevent
        img(src='/images/button_plus.gif')
      div.timeline
        block right-timeline

    div.clear

div#params(style='display: none;')
  input(type='hidden', name='event_id', value=event_id)

div#floating
  div#tooltip-pong.rounded-corner(style='display:none;')
    span.bold pong~
    하고 이 이슈의
    span.bold 관심도
    를 올려주세요!

//- feedback widget
style(type='text/css')
  @import url('http://getbarometer.s3.amazonaws.com/assets/barometer/css/barometer.css');
script(type='text/javascript', src='http://getbarometer.s3.amazonaws.com/assets/barometer/javascripts/barometer.js')
script(type='text/javascript')
  BAROMETER.load('wcL6dMdEn5teaF8G2j7W3');

each jsfile in jsfiles
  script(type='text/javascript', src=jsfile)
