mixin timeline_addevent(column, topic)
  //- event input box
  div.timeline-addevent
    div.button-addevent 중요 이슈를 직접 등록해 주세요!
    form.form-addevent(style='display: none;', method='post', action='/iamseoulmayor/event')
      input(type='hidden', name='topic', value=topic)
      img.img-close(src="/images/x.png")
      input(type='text', name='year')
      년&nbsp;
      input(type='text', name='month')
      월&nbsp;
      input(type='text', name='day')
      일
      br
      제목&nbsp;
      input(type='text', name='title', maxlength='20')
      textarea(name='text', rows='3')
      div.charleft 140
      img.img-link(src='/images/link_chain.jpg')
      &nbsp;
      input(type='text', name='link', placeholder='출처(필수)')
      br
      비밀번호&nbsp;
      input(type='password', name='passwd')
      br
      input.submit(type='submit', value='등록')

mixin timeline_events(column, events)
  div.timeline-events
    each event in events
      div.event-container(event_id=event.id)
        div.prong
          div.prong-dk
          div.prong-lt
        div.event
          img.img-close(src="/images/x.png")
          div.content
            span.title= event.title
            br
            p.text= event.text
            div.link
              a(href=event.link, target='_blank')= event.link
            div.share
              //- twitter button
              a.button-twitter(href='#')
                img(src='/images/img_button_twitter.png')
              //- facebook button
              a.button-facebook(href='#')
                img(src='/images/img_button_facebook.gif')
          div.extra
            span.like= event.like
            div.button-pong-wrapper.rounded-corner5
              div.button-pong.rounded-corner5(target_id=event.id)
                span PONG
            span.date= event.date
          div.clear

mixin timeline(column)
  if column == 'left'
    div.timeline-left
      mixin timeline_addevent(column, '나경원')
      mixin timeline_events(column, left_events)
  else
    div.timeline-right
      mixin timeline_addevent(column, '박원순')
      mixin timeline_events(column, right_events)

//- vim: ts=8 sts=2 sw=2 expandtab
