mixin timeline_addevent(column, topic)
  //- event input box
  div.timeline-addevent
    div.button-addevent 후보 관련 이슈 직접 등록하기&nbsp;&nbsp;&nbsp;
      span.helvetica >
    form.form-addevent(style='display: none;', method='post', action='/iamseoulmayor/event' + query_string)
      input(type='hidden', name='topic', value=topic)
      span.close
      input(type='text', name='year')
      년&nbsp;
      input(type='text', name='month')
      월&nbsp;
      input(type='text', name='day')
      일
      br
      제목&nbsp;
      input(type='text', name='title', maxlength='20')
      textarea(name='text', rows='3', placeholder='시민들이 현명한 투표를 할 수 있도록, ' + topic + ' 의원의 선거 관련 이슈를 직접 등록해 주세요.')
      div.charleft 140
      img.img-link(src='/images/link_chain.jpg')
      &nbsp;
      input(type='text', name='link', placeholder='출처(필수)')
      br
      비밀번호&nbsp;
      input(type='password', name='passwd')
      br
      input.button.submit(type='submit', value='등록')

mixin timeline_events(column, events)
  div.timeline-events
    each event in events
      div.event-container(event_id=event.id)
        div.prong
        div.event
          span.close
          div.content
            span.title= event.title
            p.text= event.text
            div.link
              a(href=event.link, target='_blank')= event.link
            div.share
              //- twitter button
              a.button-twitter(href='#')
                img(src='/images/img_button_twitter.png')
              //- facebook button
              a.button-facebook(href='#')
                img(src='/images/img_button_facebook.gif')
          div.extra
            span.like= event.like
            div.button-pong-wrapper.rounded-corner5
              div.button-pong.rounded-corner5(target_id=event.id)
                span PONG
            span.date= event.date
          div.clear

mixin timeline(column, topic, events)
  if column == 'left'
    div.timeline-left
      mixin timeline_addevent(column, topic)
      mixin timeline_events(column, events)
  else
    div.timeline-right
      mixin timeline_addevent(column, topic)
      mixin timeline_events(column, events)

//- vim: ts=8 sts=2 sw=2 expandtab
