div#container.rounded-corner5
  div#container2
    div#member-panel
      div#logo
        h1 나는 서울 시장이다!
          span.super &nbsp;beta
        //
          div.twitter-feedback
            span 개선 사항 및 의견을 트위터로 바로 보내주세요!
            a.twitter-share-button(
              href='https://twitter.com/share',
              data-url='http://',
              data-text='@PopongC ',
              data-count='none',
              data-lang='ko'
              ) Tweet

      div.leftcolumn
        img.photo.rounded-corner5(src='/images/_EB_82_98_EA_B2_BD_EC_9B_90.jpg')
        div.name 나경원
          a(href='http://www.naseoul.com/', target='_blank')
            img.icon(src='/images/icon_homepage.png')
          a(href='http://twitter.com/nakw', target='_blank')
            img.icon(src='/images/icon_twitter.png')

      div.rightcolumn
        img.photo.rounded-corner5(src='/images/_EB_B0_95_EC_9B_90_EC_88_9C.jpg')
        div.name 박원순
          a(href='http://wonsoon.com/', target='_blank')
            img.icon(src='/images/icon_homepage.png')
          a(href='http://twitter.com/wonsoonpark', target='_blank')
            img.icon(src='/images/icon_twitter.png')
      div.clear

    div#spaceholder &nbsp;

    div#profile-panel
      div.leftcolumn
        div.caption 프로필
        div.event-container.profile
          div.event
            img.img-close(src="/images/x.png")
            a(href='/images/nakw.png', target='_blank')
              img.profile-content(src='/images/nakw.png')
            span.notice ※ 프로필은 후보 공식 홈페이지에서 가져왔습니다.

      div.rightcolumn
        div.caption 프로필
        div.event-container.profile
          div.event
            img.img-close(src="/images/x.png")
            a(href='/images/wonsoonpark.jpg', target='_blank')
              img.profile-content(src='/images/wonsoonpark.jpg')
            span.notice ※ 프로필은 후보 공식 홈페이지에서 가져왔습니다.
      div.clear

    div#timeline-panel
      div.leftcolumn
        div.caption 타임라인
        div.timeline(topic='나경원')
          block left-timeline

      div.rightcolumn
        div.caption 타임라인
        div.timeline(topic='박원순')
          block right-timeline
      div.clear

div#params(style='display: none;')
  input(type='hidden', name='event_id', value=event_id)

div#floating
  div#tooltip-pong.rounded-corner5(style='display:none;')
    span.bold pong~
    하고 이 이슈의
    span.bold 관심도
    를 올려주세요!
  div#menu.rounded-corner5(style='display:none;')
    ul
      a(href='#profile-panel')
        li.rounded-corner5 프로필
      a(href='#')
        li.rounded-corner5 공약
      a(href='#timeline-panel')
        li.rounded-corner5 타임라인

//- feedback widget
style(type='text/css')
  @import url('http://getbarometer.s3.amazonaws.com/assets/barometer/css/barometer.css');
script(type='text/javascript', src='http://getbarometer.s3.amazonaws.com/assets/barometer/javascripts/barometer.js')
script(type='text/javascript')
  BAROMETER.load('wcL6dMdEn5teaF8G2j7W3');

each jsfile in jsfiles
  script(type='text/javascript', src=jsfile)
